@import "tailwindcss";

@layer base {
  :root {
    @apply text-[rgba(255,255,255,0.87)] bg-[#102222];
    font-family: 'Space Grotesk', sans-serif;
  }

  body {
    @apply min-w-[320px] min-h-screen relative m-0;
    font-family: 'Space Grotesk', sans-serif;
  }

  #root {
    @apply w-full h-screen;
  }
}

@keyframes slide-in-from-right {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-in {
  animation: slide-in-from-right 0.5s ease-out;
}

@media (prefers-reduced-motion) {
  *,
  ::before,
  ::after {
    animation: none !important;
  }
}

/* Loader */
.loader {
  width: 55px;
  aspect-ratio: 1;
  --g1: conic-gradient(from 90deg at top 3px left 3px, #0000 90deg, #13ecec 0);
  --g2: conic-gradient(from -90deg at bottom 3px right 3px, #0000 90deg, #13ecec 0);
  background:
    var(--g1), var(--g1), var(--g1), var(--g1),
    var(--g2), var(--g2), var(--g2), var(--g2);
  background-position: 0 0, 100% 0, 100% 100%, 0 100%;
  background-size: 25px 25px;
  background-repeat: no-repeat;
  animation: l11 1.5s infinite;
}

@keyframes l11 {
  0%   { background-size: 35px 15px, 15px 15px, 15px 35px, 35px 35px; }
  25%  { background-size: 35px 35px, 15px 35px, 15px 15px, 35px 15px; }
  50%  { background-size: 15px 35px, 35px 35px, 35px 15px, 15px 15px; }
  75%  { background-size: 15px 15px, 35px 15px, 35px 35px, 15px 35px; }
  100% { background-size: 35px 15px, 15px 15px, 15px 35px, 35px 35px; }
}
